.wrapper {
    background-color: white;
    padding: 4rem;
    width: 20rem;
    margin: auto;
    transform: translateY(50%);
    border-radius: 10px;
    position: relative;
}

.heading-3{
    font-size: 1.5rem;
    font-family: inherit;
    color: rgb(3, 3, 71);
    padding-bottom: 1rem;
    display: block;
}